fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
torch >= 2.1.2
transformers >= 4.36.2
opencv-python-headless
pillow >= 10.2.0
python-multipart >= 0.0.6
functions-framework==3.*
google-cloud-storage==2.14.0
scikit_learn==1.3.2
